<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openinterx.mavi.mapper.UnderstandQueueMapper" >
  <resultMap id="BaseResultMap" type="com.openinterx.mavi.model.UnderstandQueue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="callback_url" jdbcType="VARCHAR" property="callbackUrl" />
    <result column="payload" jdbcType="VARCHAR" property="payload" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="processing" jdbcType="BOOLEAN" property="processing" />
    <result column="retry_count" jdbcType="INTEGER" property="retryCount" />
    <result column="max_retry" jdbcType="INTEGER" property="maxRetry" />
    <result column="last_error" jdbcType="VARCHAR" property="lastError" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, param, callback_url, payload, "status", processing, retry_count, max_retry, last_error, 
    updated_at
  </sql>

  <insert id="insertSelective" parameterType="com.openinterx.mavi.model.UnderstandQueue">
    <!--@mbg.generated-->
    insert into understand_queue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="callbackUrl != null">
        callback_url,
      </if>
      <if test="payload != null">
        payload,
      </if>
      <if test="status != null">
        "status",
      </if>
      <if test="processing != null">
        processing,
      </if>
      <if test="retryCount != null">
        retry_count,
      </if>
      <if test="maxRetry != null">
        max_retry,
      </if>
      <if test="lastError != null">
        last_error,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null">
        #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="payload != null">
        #{payload,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="processing != null">
        #{processing,jdbcType=BOOLEAN},
      </if>
      <if test="retryCount != null">
        #{retryCount,jdbcType=INTEGER},
      </if>
      <if test="maxRetry != null">
        #{maxRetry,jdbcType=INTEGER},
      </if>
      <if test="lastError != null">
        #{lastError,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
<update id="updateStatus">
    UPDATE understand_queue
    SET status = #{status},
    processing = #{processing},
    update_time = now()
    WHERE task_id = #{taskId}
    AND processing = #{oldProcessing}
</update>
    <update id="updateResult">
        UPDATE understand_queue
        SET status      = #{status},
            processing  =#{processing},
            updated_at  = NOW(),
            retry_count = retry_count + 1,
            payload=${payload}
        <if test="lastError != null">
            ,last_error = #{lastError}
        </if>

        WHERE task_id = #{taskId}
            AND processing = #{oldProcessing}
    </update>

</mapper>